@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.header {
  color: rgb(234, 239, 239);
  margin: 0px;
  font-size: 5em;
}


body {
  background-color:rgb(51, 52, 70);
  color: rgb(184, 207, 206);
}

* {
  font-family: "Delius", cursive;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.button{
  background-color: rgb(127, 140, 170);
  color: rgb(234, 239, 239);
 
}